.jens-border {width: 315px; height: 195px; margin: auto; position: relative; border: 8px solid #484848; outline: 1px solid #C1CDDD;}


.jens-img {width: 300px; height: 180px; background:url(https://i.imgur.com/Aw1EWW0.png); background-size: 100%; margin-left: 0px} 


.jens-blue {width: 300px; height: 180px; position: absolute; top: 0px;}


.jens-quo1 {width: 150px; padding-left: 17px; padding-top: 40px; text-shadow: 0px 0px 0px #0D0D0D; font-family: 'Rubik Glitch'; color: #414141; font-weight: 400; font-size: 29.5px; text-align: left; letter-spacing: 0px; word-spacing: 2px; text-transform: uppercase; line-height: 90%;}


.jens-quo2 {width: 90px; padding-left: 17px; padding-top: 5px; text-shadow: 2px 2px 4px #000; font-family: 'Pt Sans Narrow'; color: #cacaca; font-weight: 700; font-size: 7px; text-align: justify; letter-spacing: 1px; word-spacing: 2px; text-transform: uppercase; line-height: 140%;}
